---
layout: default
title: Home
---

<head>
    <style>
        .hero-image {
            width: 100%;
            height: auto;
            max-height: 490px;
            object-fit: cover;
            filter: brightness(85%);
        }

        .text {
            width: 70%;
            margin: auto;
        }

        .post {
            margin-left: 40px;
        }

        @media (max-width: 800px) {
            .post {
                margin-left: 0;
            }
        }
    </style>
</head>

<img src="assets/images/fluoro_ihc.png" alt="immunohistochemistry" class="hero-image">
<div style="padding: 20px; padding-bottom: 5px;">
    <audio id="star" src="assets/audio/terraria_star.mp3"></audio>
    <img src="assets/images/88x31.png" alt="hyperspace!" onclick="document.getElementById('star').play()"
    style="display: block; margin: auto; width: 88px; cursor: pointer;">
</div>

<div class="text">
    <h1 style="text-align: center;">You must've travelled a long way...</h1>
    <p style="text-align: center;">we don't see many in these parts of the web, pleased to make your acquaintance! I'm
        <a class="link" href="https://www.shutterstock.com/image-photo/closeup-businessman-shaking-hand-his-260nw-762116812.jpg">Toast.</a>
    </p>
    <br>

    <h1>Hobby Log</h1>
    <div class="post">
        {% for post in site.posts %}
            <a class="link" style="display: inline-block;" href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
            <p style="margin-bottom: 0; display: inline-block; margin-left: 5px; color: #e5b782;">{{ post.date | date: "%-d %B %Y" }}</p>
            <br>
            {% for tag in post.tags %}
                <p style="display: inline-block; margin-bottom: 0;">{{ tag }}</p>
            {% endfor %}
            <p style="margin-top: 5px;">{{ post.description }}</p>
        {% endfor %}
    </div>
</div>

